<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <main class="document">
      <section class="full five">
        <aside class="full fifth-1000">
          <h2>Categories</h2>
          <div class="links flex two three-500 five-800 one-1000">
            {% for category in site.categories %}
              <div><a class="pseudo button" href="{{ category.url | relative_url }}">\{{ category.title }}</a></div>
            {% endfor %}
          </div>
        </aside>
        <article class="four-fifth-1000">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </article>
      </section>
    </main>
    <footer>
      &copy;
    </footer>
  </body>
</html>