{% capture current_category_url %}  
{{ site.baseurl  | append: "/categories/" | append: page.category | strip }}
{% endcapture %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <main class="document">
      <section class="flex five">
        <aside class="full fifth-1000">
          <h2>Categories</h2>
          {{ current_category_url }}
          <div class="links flex two three-500 five-800 one-1000">
              <div><a class="pseudo button" href="{{ current_category_url }}">Current</a></div>
            {% for category in site.categories %}
              {% capture relative_category_url %}{{ category.url | relative_url }}{% endcapture %}
              <div><a class="pseudo button{% if current_category_url == relative_category_url %} current {% endif %}" href="{{ relative_category_url }}">{{ category.title }}</a></div>
            {% endfor %}
          </div>
        </aside>
        <article class="four-fifth-1000">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </article>
      </section>
    </main>
    <footer>
      <div>&copy; {{ site.time }}</div>
      <p>url = {{ page.url }}</p>
    </footer>
  </body>
</html>