<!doctype html>
<html lang="en">
  <head>
    {% capture current_category_url %}{{ site.baseurl  | append: "/categories/" | append: page.category | strip }}{% endcapture %}
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css">
  </head>
  <body>
    <nav>
      <a class="brand" href="{{ site.baseurl }}">University of Ottawa Physics Demos</a>
    </nav>
    <main class="document">
      <section class="flex five">
        <aside class="full fifth-1000">
          <div class="links flex two three-500 five-800 one-1000">
            {% for category in site.categories %}
              {% capture relative_category_url %}{{ category.url | relative_url }}{% endcapture %}
              <div><a class="pseudo button{% if current_category_url == relative_category_url %} current{% endif %}" href="{{ relative_category_url }}">{{ category.title }}</a></div>
            {% endfor %}
          </div>
        </aside>
        <article class="four-fifth-1000">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </article>
      </section>
    </main>
    <!-- Site rendered on {{ site.time }} -->
  </body>
</html>